# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/

# Videos gerados/local
videos/input/
videos/output/

# Env files
.env

# Logs
*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Docker
docker-compose.override.yml
